body{
    margin: 0;
    padding: 0;
    background-color: rgb(209, 209, 209);
    height: 100vh;
}

#page{
    font-family: 'Lobster Two', cursive;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header"
                        "stuff container"
                        "footer footer";
    height: 100vh;
    margin: 0 300px 0 300px;
    justify-items: center;
}

#header{
    grid-area: header;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 100px;
    align-self: center;
}

#stuff{
    grid-area: stuff;
    display: flex;
    flex-direction: column;
    gap:40px;
}

#container{
    grid-area: container;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}

#footer{
    grid-area: footer;
    font-size: 30px;
    align-self: end;
}

#grid{
    display: grid;
    grid-template-columns: repeat(16, 31.25px);
    grid-template-rows: repeat(16,31.25px);
    height: 450px;
    width: 450px;
    padding: 0;
    justify-content: center;  
    
    box-shadow: 5px 5px 5px black;
}

.square{
    background-color: white;
}

button {
    margin: 10px;
    padding: 10px;
    background-color:transparent;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
    width: 140px;
}
#rainbow{
    box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 0px 0px 19px 0px rgba(0,0,0,0);
}
#black{
    box-shadow: 7px -5px 10px 0px black;
}

a{
    text-decoration: none;
}

#buttons{
    display: flex;
    height: max-content;
    flex-direction: column;
    align-items: center;
    gap:40px;  
}

#inputsize{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    font-size: 20px;
    margin-bottom: 10px;
}